# Load required modules

In [6]:
# MongoDB
from pymongo import MongoClient
from pymongo.database import Database
import pandas as pd
import sshtunnel
import json

In [22]:
def get_tunnel():
    return sshtunnel.open_tunnel(
        (SSH_SERVER, SSH_PORT),
        ssh_username=SSH_USERNAME,
        ssh_pkey="key",  # SIEHE ILIAS Materialordner - Datei in denselben Ordner kopieren
        remote_bind_address=('localhost', 27017)    
      )

# Connect to the MongoDB  <img src="mongodb.png" width=120 align="right">

In [28]:
MONGO_USER = ''  # SIEHE ILIAS
MONGO_PASSWORD = ''  # SIEHE ILIAS
MONGO_URI = f'mongodb://{MONGO_USER}:{MONGO_PASSWORD}@localhost:27017/?authSource={MONGO_USER}'


SSH_SERVER = ''  # SIEHE ILIAS
SSH_PORT = 22
SSH_USERNAME = ''  # SIEHE ILIAS

my_database = ""

with get_tunnel() as tunnel:
    # connect to MongoDB
    client = MongoClient(MONGO_URI)

    # list database names
    names = client.list_database_names()
    print(f"my database: {names[0]}")
    my_database = names[0]

my database: ds240kupe0000

# Insert a JSON document to a new database dscb240 (collection users)

In [29]:
# note: this is redundant - we already added "sue" via NoSQLBooster
doc = {
    'name' : 'sue',
    'age' : 26,
    'status' : 'A',
}

with get_tunnel() as tunnel:
    # connect to MongoDB
    client = MongoClient(MONGO_URI)
    db = Database(client, my_database) 
    
    result = db.users.insert_one(doc) # insert the document into the collection users which is automaticall created
    print(result.inserted_id)  # get the id of the new document to see if everything is fine

<img src="exercise.png">

# Exercise 3.1a <img src="mongodb.png" width=120 align="right">
Add three further users with the same schema, i.e. name, age, and status.

In [30]:
doc = {
    'name' : 'pete',
    'age' : 34,
    'status' : 'A',
}

with get_tunnel() as tunnel:
    # connect to MongoDB
    client = MongoClient(MONGO_URI)
    db = Database(client, my_database) 
    result = db.users.insert_one(doc) 
    print(result.inserted_id)

In [32]:
docs = [{
    'name' : 'dave',
    'age' : 22,
    'status' : 'B',
},
    {
    'name' : 'elen',
    'age' : 29,
    'status' : 'C',
}
]

with get_tunnel() as tunnel:
    # connect to MongoDB
    client = MongoClient(MONGO_URI)
    db = Database(client, my_database) 
    result = db.users.insert_many(docs) 
    print(result.inserted_ids)

[ObjectId('607c823b06f79784184ab771'), ObjectId('607c823b06f79784184ab772')]

## Check insertion of documents

In [34]:
with get_tunnel() as tunnel:
    # connect to MongoDB
    client = MongoClient(MONGO_URI)
    db = Database(client, my_database) 
    cursor = db.users.find()

    df = pd.DataFrame(list(cursor))  # convert to a dataframe for better visualization

df

                        _id  name  age status
0  607c815906f79784184ab765   sue   26      A
1  607c81db06f79784184ab76a   sue   26      A
2  607c822906f79784184ab76c  pete   34      A
3  607c822b06f79784184ab76e  dave   22      B
4  607c822b06f79784184ab76f  elen   29      C
5  607c823b06f79784184ab771  dave   22      B
6  607c823b06f79784184ab772  elen   29      C

# Exercise 3.2

## Filtering documents with MongoDB<img src="mongodb.png" width=120 align="right">

In [35]:
filt = {"$and":
        [
            {"$or":
             [
                 {"status":"A"},
                 {"status":"D"}
             ]
            },
            {"age":{"$gt":22}}
        ]
       }


with get_tunnel() as tunnel:
    # connect to MongoDB
    client = MongoClient(MONGO_URI)
    db = Database(client, my_database) 
    cursor = db.users.find(filt)

    df = pd.DataFrame(list(cursor))  # convert to a dataframe for better visualization
df

                        _id  name  age status
0  607c815906f79784184ab765   sue   26      A
1  607c81db06f79784184ab76a   sue   26      A
2  607c822906f79784184ab76c  pete   34      A

# Exercise 3.3

## Updating documents with MongoDB<img src="mongodb.png" width=120 align="right">

In [36]:
filt = {"name":"sue"}
update = {"$set" : {"age":30}}

with get_tunnel() as tunnel:
    # connect to MongoDB
    client = MongoClient(MONGO_URI)
    db = Database(client, my_database) 
    result = db.users.update_one(filt, update)

result.modified_count

1

# Exercise 3.4

## Deleting documents with MongoDB<img src="mongodb.png" width=120 align="right">

In [37]:
filt = {"age": {"$gt":30}}

with get_tunnel() as tunnel:
    # connect to MongoDB
    client = MongoClient(MONGO_URI)
    db = Database(client, my_database) 
    result = db.users.delete_many(filt)

result.deleted_count

1