# VL2.3 - Strukturierte und tabellarische Daten
## (1) csv
### csv-Datei erzeugen

In [6]:
import pandas as pd
df = pd.DataFrame([["A", 10], ["B", 20], ["A", 15], ["C", 5]], columns=["Product", "Sales"])
df

  Product  Sales
0       A     10
1       B     20
2       A     15
3       C      5

In [20]:
df.to_csv("sales.csv", index=False)

In [21]:
df.to_csv("sales_pipe.csv", index=False, sep="|")

In [26]:
df_turnover = pd.read_csv("turnover.csv", sep=";", decimal=",")
df_turnover.dtypes

Product      object
Turnover    float64
dtype: object